<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Crazy Yoda Chat </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item [ngClass]="{yoda: msg.author === 'yoda'}" *ngFor="let msg of messages">{{msg.message}}</ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-input autofocus #messageInput [(ngModel)]="message"></ion-input>
      <ion-button (click)="sendMessage($event)">Send</ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
